{% extends "base.html" %}
{% block title %} Add course {% endblock %}
{% block mycontent %}
<div class="container">
	<h1>Add course</h1>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ render_field(form.name) }}
		</div>
		<div class="form-group">
			{{ render_field(form.desc) }}
		</div>
		<div class="form-group">
			{{ render_field(form.course_type) }}
		</div>
		<div class="form-group">
			{{ render_field(form.credit) }}
		</div>
		<div class="form-group">
			{{ render_field(form.has_practical) }}
		</div>
		<div class="form-group">
			{{ wtf.form_field(form.submit, class='btn btn-outline-info') }}
		</div>
	</form>
</div>
{% endblock mycontent %}