{% extends "bootstrap/base.html" %}
{% block title %} Add course {% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href={{ url_for('students') }}>Students</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for('courses') }}>Courses</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for('addStudent') }}>Add student</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for('addCourse') }}>Add course</a></li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <h1>Add course for student {{student.name}}</h1>
  <form method="POST" action="">
    <div class="form-group">
      {{ wtf.form_field(form.semester, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.c, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.c1, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.c2, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.c3, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.c4, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.attendance, class='form-control') }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.submit, class='btn btn-outline-info') }}
    </div>
  </form>
</div>
{% endblock %}