{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Courses {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href={{ url_for('students') }}>Students</a></li>
			<li class="nav-item active"><a class="nav-link" href={{ url_for('courses') }}>Courses</a></li>
			<li class="nav-item"><a class="nav-link" href={{ url_for('addStudent') }}>Add student</a></li>
			<li class="nav-item"><a class="nav-link" href={{ url_for('addCourse') }}>Add course</a></li>
		</ul>
	</div>
</nav>
<br>
<div class="container">
	<h1> Courses </h1>
	<br>
	{{ wtf.quick_form(form, form_type='inline') }}
	<br>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th> Course Id </th>
				<th> Course name </th>
				<th> Description </th>
				<th> Type </th>
				<th> Credit </th>
				<th> Practical </th>
			</tr>
		</thead>
		<tbody>
			{% for c in courses %}
			<tr>
				<td> {{ c.id }} </td>
				<td> <a href={{ url_for('getCourse', id=c.id) }}> {{c.name}} </a> </td>
				<td> {{ c.desc }} </td>
				<td> {{ c.course_type }} </td>
				<td> {{ c.credit }}</td>
				<td>
					{% if c.has_practical %}
					Yes
					{% else %}
					No
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}