{% extends "base.html" %}
{% block title %} Students {% endblock %}
{% block mycontent %}
<div class="container">
	<h1>Students</h1>
	<br>
	<div>
		{{ wtf.quick_form(form, form_type='inline')}}
		<br>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th> Roll no. </th>
					<th> Name </th>
					<th> Course </th>
					<th> Credits </th>
					<th> Grade Point </th>
					<th> CGPA </th>
				</tr>
			</thead>
			<tbody>
				{% for s in students %}
				<tr>
					<td>{{ s.id }}</td>
					<td><a href={{ url_for('getStudent', id=s.id) }}> {{ s.name }} </a></td>
					<td>{{ s.course }}</td>
					<td>{{ s.cum_credits }}</td>
					<td>{{ s.cum_grade_point }}</td>
					<td>{{ s.cgpa }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endblock mycontent %}